

<div class="my-20 flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto w-3/5">
  <div class="hidden lg:block lg:w-1/2 lg:flex-none bg-cover" style="background-image:url('https://images.unsplash.com/photo-1546514714-df0ccc50d7bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')"></div>
  <form ngForm="form" (submit)="submit()" class="w-full p-8 lg:w-1/2">
    <h2 class="text-2xl font-semibold text-gray-700 text-center">Smart Test</h2>
    <p class="text-xl text-gray-600 text-center">Finish registration!</p>

    <div class="mt-4 flex items-center justify-between">
      <span class="border-b w-1/5 lg:w-1/4"></span>
      <div class="text-xs text-center text-gray-500 uppercase">Personal information</div>
      <span class="border-b w-1/5 lg:w-1/4"></span>
    </div>
    <app-input-group [type]="'text'"
                     [field]="form.controls.firstName"
                     [title]="'First Name'"
                     [name]="'firstName'">
      <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
    </app-input-group>


    <app-input-group [type]="'text'"
                     [field]="form.controls.lastName"
                     [title]="'Last Name'"
                     [name]="'lastName'">
      <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
    </app-input-group>
    <div class="mt-8">
      <button type="submit" class="bg-primary-500 hover:bg-primary-600 active:bg-primary-700 text-white font-bold py-2 px-4 w-full rounded">Submit</button>
    </div>
  </form>
</div>


